body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url("Farm\ Background\ photo.jpg");
    background-size: cover;
    background-repeat: no repeat;
}
main {
    width: 70%;
    background-color: #fff;
    padding: 2em;
    margin: 0px auto;
    max-width: 1000px;
}

nav{
    margin: 2em 0;
    padding: 1em;
    background-color: darkred;
}

nav a{
    color: #fff;
    margin: 1em;
}

footer {
    background-color: darkred;
    color: #fff;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
}
h1 {
    text-align: center;
}
.Shop_img{
   max-width: 250px; 
   max-height: 170px; 
   justify-content: flex-start;
}
.home_img{
    max-width: 550px; 
   max-height: 200px; 
}